//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,regular,700&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Ubuntu";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1920;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	background: url('../img/bg.png') top no-repeat;
}
//===================================================================================================================================

.main {
	&__container {
		@media (max-width: 1440px){
			padding: 0px 0px 300px 0px;
		}
		display: flex;
		justify-content: space-around;
		height: 900px;
	}

	&__title {
		flex: 0 1 200px;
		padding: 244px 0px 0px 0px;
		@media (max-width: $md3+px){
			padding: 50px 0px 0px 0px;
		}
	}

	&__img {

	}
}
.title {

	&__bg {
		color: #ffffff;
		font-size: 60px;
		font-weight: 700;
		margin: 0px 0px 42px 0px;
		@media (max-width: 512){
			max-width: auto;
		}

	}

	&__small {
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		margin: 0px 0px 59px 0px;
	}

	&__btn-red {
		background-color: #fc6a42;
		width: 158px;
		height: 52px;
		padding: 17px 0px 0px 34px;
		border-radius: 5px;
		font-size: 18px;
		font-weight: 700;
		margin: 0px 15px 0px 0px;
		&:hover {
			background-color: #fc4f1f;
		}
	}

	&__btn-blue {
		width: 158px;
		height: 52px;
		background-color: #4466c9;
		padding: 17px 0px 0px 34px;
		border-radius: 5px;
		font-size: 18px;
		font-weight: 700;
		transition: all 0.3 ease ;
		&:hover {
			background-color: #2a51c5;
		}
	}
	&__buttons {
		display: flex;
		@media (max-width: $md3+px){
			display: block;
			margin: 0px 0px 0px 0px;
		}

	}
}

.btn-red {
	color: #ffffff;
}
.btn-blue {
	color: #ffffff;
}
.img {
	margin: 152px 0px 0px 0px;
			@media (max-width: 768px) {
			display: none;
		}
	&__phone {
		position: absolute;

	}

	&__sunny {
		position: relative;
		top: 395px;
		left: -150px;
		@media (max-width: $md2+px){
			top: 500px;
		}
		@media (max-width: $md3+px){
			display: none;
		}

	}

	&__9 {
		position: relative;
		top: -20px;
		left: 200px;

	}

	&__london {
		position: relative;
		z-index: 50px;
		top: 200px;
		left: 200px;
		@media (max-width: 1000px){
			display: none;
		}
	}

	&__rio {
		position: relative;
		top: 475px;
		left: 90px;
		@media (max-width: 1196){
		}
	}	
}
.scroll-down {
	cursor: pointer;
	position: absolute;
	top: 950px;
	background-color: #fff;
	border-radius: 50%;
	width: 49px;
	height: 49px;
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	img {
		margin: 20px 0px 0px 20px;

	}
}
//===================================================================================================================================

.features {

	&__container {
		padding: 132px 0px 0px 0px;
		text-align: center;
	}
	&__title {

	}

	&__subtitle {

	}

	&__columns {
		display: flex;
		@media (max-width: $md2+px){
			flex-wrap: wrap;
		}
	}
}
.column{

	&__usability {
	}

	&__img {
	}

	&__text {
		display: flex;
		flex-direction: column;
		text-align: left;
		margin: 0px 45px 20px 15px;
	}

	&__parallax {
	}

	&__unlimites {
	}
}
.column div{
	display: flex;

}

.text {

	&__title {
		color: #353854;
		font-size: 24px;
		font-weight: 700;
		height: 50px;
	}

	&__subtitle {
		color: #aeaeae;
		font-size: 16px;
		font-weight: 400;
		margin: 24px 0px 0px 0px;
		max-width: 256px;
	}
}
//===================================================================================================================================

.widgets {

	margin: 0 auto;
	padding: 132px 0px 0px 0px;
	min-width: 0;
	&__container {
		text-align: center;
	}

	&__title {
		white-space: nowrap;
	}

	&__subtitle {
	}

	&__columns {
		height: 500px;
		position: relative;
		display: flex;
	}
}

.column {
	position: relative;
	&__back-left {
		position: absolute;
		left: 50px;
	}

	&__center {
		position: absolute;
		z-index: 2;
		left: 250px;
	}
	&__back-right {
		position: absolute;
		left: 500px;
		max-width: 100%;
		margin: 0 auto;
	}
}


.widgets__columns img{
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		max-width: 100%;
		margin: 0 auto;
}

.screenshots {

	&__container {	
		text-align: center;

	}

	&__text-block {
		padding: 200px 0px 0px 0px;

	}

	&__title {
	}

	&__subtitle {
	}

	&__columns {
		display: flex;
	}
}
.title {
}
.subtitle {
}
.column {

	&__phone {
		img {
			@media (max-width: 602px){
				display: none;
			}
		}
	}

	&__text-block {

	}
}
.phone-column {
	position: relative;
	&__img {

	}

	&__text {
		position: absolute;
		left: 40px;
		top: 165px;
		opacity: 0.59;
		color: #ededf2;
		font-size: 200px;
		font-weight: 300;
		letter-spacing: -2.4px;
		transform: rotate(90deg);
		z-index: -1;
		@media (max-width: 602px){
			font-size: 0;
		}
	}
}
.text-column {
		display: flex;
		flex-direction: column;
		padding: 0px 0px 0px 250px;
		@media (max-width: $md2+px){
			padding: 0px 0px 0px 100px;
		}
	&__image {
	}

	&__title {

	}

	&__subtitle {
		text-align: left;
	}

	&__subimage {
		padding: 20px 0px 0px 0px;
	}
}


.quotes {
	display: flex;
	flex-wrap: wrap;

	&__container {

	}

	&__abraham {
		max-width: 442px;
		padding: 0px 0px 50px 0px;
		::before {
			content: '"';
			color: #648cff;
			font-size: 142px;
			font-weight: 400;
		}

	}

	&__john {
		max-width: 442px;
		padding: 0px 0px 50px 0px;
		::before {
			content: '"';
			color: #648cff;
			font-size: 142px;
			font-weight: 400;
		}
	}

	&__william {
		max-width: 442px;
		::before {
			content: '"';
			color: #648cff;
			font-size: 142px;
			font-weight: 400;
		}
	}

	&__mignon {
		max-width: 442px;
		::before {
			content: '"';
			color: #648cff;
			font-size: 142px;
			font-weight: 400;
		}
	}
}
.quote {
	color: #353854;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;

}
.name {
	color: #353854;
	font-size: 18px;
	font-weight: 400;
}



.download {
	background-color: #648cff ;
	&__container {
		display: flex;
		white-space: nowrap;
	}

	&__column {
		margin: 0px 0px 30px 0px;
	}
}

.column-donwload {

	&__title {
		padding: 124px 0px 0px 0px;
		color: #ffffff;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;

	}

	&__subtitle {
		padding: 46px 0px 32px 0px;
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		max-width: 365px;
		white-space:normal;
	}
}

.links {
	position: relative;
	top: 50px;
}
.link-left {
	position: absolute;
}
.link-center {
	position: absolute;
	left: 250px;
	top: -15px;
	z-index: 5;

}
.link-right {
	position: absolute;
	left: 500px;
}


//</ОСНОВНОЙ БЛОК>====================================================================================================
